.team {
  margin-block: 50px;
  .team_wrapper {
    float: clear-both;
    .image {
      padding-right: 20px;
      height: 530px;
      width: 450px;
      float: left;
      box-shadow: -24px 22px 6px -14px rgb(24, 92, 171);

      @include max(992px) {
        height: 400px;
        width: 350px;
        margin-bottom: 10px;
      }

      @include max(768px) {
        float: none;
        width: 100%;
        box-shadow: none;
      }

      img {
        border-radius: 5px;
        width: 100%;
      }
    }
    .team_detail {
      h2 {
        font-size: 36px;
        font-weight: 500;
        color: var(--primary-color);
      }
      h4 {
        margin: 15px 0 20px 0;
        font-size: 20px;
        font-weight: 500;
        color: var(--parragraph-color);
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: var(--parragraph-color);
      }
    }
  }
}
