@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

ul[role=list],
li[role=list] {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus-visible {
  outline: none !important;
}

textarea:focus-visible {
  outline: none !important;
}

a {
  text-decoration: none !important;
  color: #fff;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --primary-color: #185CAB;
  --secondary-color:#E1EFFF;
  --paragraph-color: #656565;
}

.topnav {
  background: var(--primary-color);
  padding-block: 20px;
}
.topnav .topnav-header h1 {
  font-weight: 500;
  font-size: 24px;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 15px;
}
.topnav .nav-logo {
  display: flex;
  justify-content: center;
}
.topnav .nav-logo img {
  height: 100px;
}

.main-nav-content .main-nav-container .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.main-nav-content .main-nav-container .main-nav a .logo-container {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
.main-nav-content .main-nav-container .main-nav a .logo-container .logo {
  width: 48px;
  height: 47px;
}
.main-nav-content .main-nav-container .main-nav a .logo-container .logo-txt p {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.main-nav-content .main-nav-container .main-nav .nav-items ul {
  display: flex;
  gap: 40px;
  margin: 0;
  cursor: pointer;
}
.main-nav-content .main-nav-container .main-nav .nav-items ul li a {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #000000;
  position: relative;
}
.main-nav-content .main-nav-container .main-nav .nav-items ul li a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 1px;
  width: 100%;
  height: 1.5px;
  border-radius: 5px;
  color: var(--primary-color);
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
.main-nav-content .main-nav-container .main-nav .nav-items ul li a:hover {
  color: var(--primary-color);
}
.main-nav-content .main-nav-container .main-nav .nav-items ul li a:hover:after {
  transform: scaleX(0.7);
}
.main-nav-content .main-nav-container .main-nav .nav-items ul li a.active {
  color: var(--primary-color);
}
.main-nav-content .main-nav-container .main-nav .nav-items ul li a.active::after {
  color: var(--primary-color);
  transform: scaleX(0.7);
}
.main-nav-content .main-nav-container .main-nav .donar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: var(--primary-color);
  padding: 15px 35px;
}
.main-nav-content .main-nav-container .main-nav .donar-btn .donar-text p {
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
}

.primary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  background: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
  border-radius: 45px;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.primary-btn p {
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
}
.primary-btn .arrow-btn {
  background-image: url("../icon/btn-arrow-white.svg");
  width: 20px;
  height: 20px;
}
.primary-btn:hover {
  background: var(--white-color);
  border: 1px solid var(--primary-color) !important;
}
.primary-btn:hover p {
  color: var(--primary-color);
}
.primary-btn:hover .arrow-btn {
  background-image: url("../icon/btn-arrow-blue.svg");
}

.secondary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  background: var(--white-color);
  border: 1px solid var(--white-color) !important;
  border-radius: 45px;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.secondary-btn p {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}
.secondary-btn .arrow-btn {
  background-image: url("../icon/btn-arrow-blue.svg");
  width: 20px;
  height: 20px;
}
.secondary-btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--white-color);
}
.secondary-btn:hover p {
  color: var(--white-color);
}
.secondary-btn:hover .arrow-btn {
  background-image: url("../icon/btn-arrow-white.svg");
}

.border-transparent {
  border: 1px solid transparent !important;
}
.border-transparent:hover {
  border: 1px solid transparent !important;
}

.head_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.head_title .head_image {
  height: 30px;
}
.head_title .title h3 {
  font-size: 16px;
  font-weight: 500;
}

.paragraph-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
}

.highlight {
  color: var(--primary-color) !important;
}

.justify_center {
  justify-content: center;
}

.bg-container .bg-img {
  position: relative;
}
.bg-container .bg-img .right_image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 450px;
  z-index: -1;
  opacity: 6%;
}
.bg-container .bg-img .img-steaker {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.bg-container .bg-img .img-steaker img {
  width: 100%;
}
.bg-container .bg-img .img-steaker .bg-color {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 239, 255, 0.5);
}
.bg-container .bg-img .img-steaker .png-img-i {
  position: absolute;
  top: 0;
  left: 0;
  height: 470px;
  width: 400px;
}
.bg-container .bg-img .img-steaker .png-img-ii {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 470px;
  width: 400px;
}
.bg-container .bg-img .bg-lt-rt {
  position: relative;
}
.bg-container .bg-img .bg-lt-rt .left_image {
  position: absolute;
  top: 161px;
  height: 450px;
  left: 200px;
  opacity: 6%;
  z-index: -1;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main {
  padding-block: 140px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-lt {
  width: 50%;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-lt .bg-header h1 {
  padding-bottom: 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-lt .bg-header h1 .highlight {
  color: var(--primary-color);
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-lt .bg-txt p {
  padding-bottom: 40px;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-lt .bg-btn {
  background-color: var(--primary-color);
  padding: 15px 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 48px;
  cursor: pointer;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-lt .bg-btn p {
  color: var(--white-color);
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-lt .bg-btn .fa-solid {
  color: var(--white-color);
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-rt {
  width: 50%;
  position: relative;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-rt .bg-main-img {
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-rt .bg-main-img img {
  border-radius: 50%;
  width: 455px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}
.bg-container .bg-img .bg-lt-rt .bg-lt-rt-main .bg-rt .bg-main-img::before {
  content: " ";
  position: absolute;
  width: 7px;
  height: 600px;
  background-color: var(--primary-color);
  z-index: -1;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 5px;
}

.regis-wall-container {
  margin-block: 100px;
}
.regis-wall-container .regis-wall-lt-rt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall {
  width: 50%;
  position: relative;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall .regis-wall-img {
  position: relative;
  height: 335px;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall .regis-wall-img img {
  width: 100%;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall .regis-wall-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 92, 171, 0.8);
  z-index: 1;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall .regis-wall-txt {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  padding: 0 80px 0 140px;
  z-index: 2;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall .regis-wall-txt .regis-header h3 {
  font-size: 24px;
  color: var(--white-color);
  font-weight: 700;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall .regis-wall-txt .regis-txt {
  margin: 20px 0 40px 0;
}
.regis-wall-container .regis-wall-lt-rt .regis-wall .regis-wall-txt .regis-txt p {
  color: #eaeaea;
}

.about-main {
  margin-block: 100px;
}
.about-main .about-main-lt-rt {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}
.about-main .about-main-lt-rt .about-main-lt {
  width: 50%;
}
.about-main .about-main-lt-rt .about-main-lt .ellipse-img {
  position: relative;
  width: 572px;
  height: 575px;
}
.about-main .about-main-lt-rt .about-main-lt .ellipse-img .border-ellipse img {
  position: absolute;
  top: -10px;
  left: -23px;
  height: 584px;
}
.about-main .about-main-lt-rt .about-main-lt .ellipse-img .main-img-abt {
  height: 572px;
  width: 550px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-right-radius: 245px;
  border-top-left-radius: 520px;
  border-bottom-left-radius: 310px;
  border-bottom-right-radius: 500px;
  overflow-y: hidden; /* Ensures the img does not overflow */
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-main .about-main-lt-rt .about-main-lt .ellipse-img .main-img-abt img {
  width: 450px;
  height: 600px;
  filter: drop-shadow(0px 0px 30px rgba(55, 56, 127, 0.25));
}
.about-main .about-main-lt-rt .about-main-rt .about-main-title h1 {
  font-size: 48px;
  font-weight: 700;
}
.about-main .about-main-lt-rt .about-main-rt .about-main-title h1 .highlight {
  color: var(--primary-color);
}
.about-main .about-main-lt-rt .about-main-rt .about-main-txt {
  margin: 20px 0 40px 0;
}

.chairperson-container {
  background: var(--secondary-color);
  margin-block: 100px;
}
.chairperson-container .chairperson-lt-rt {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: end;
}
.chairperson-container .chairperson-lt-rt .chairperson-lt {
  padding: 60px 0;
  width: 50%;
}
.chairperson-container .chairperson-lt-rt .chairperson-lt .about-main-title h1 {
  font-size: 48px;
  font-weight: 700;
}
.chairperson-container .chairperson-lt-rt .chairperson-lt .about-main-txt {
  margin: 20px 0 40px 0;
}
.chairperson-container .chairperson-lt-rt .chairperson-lt .cperson-name h2 {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}
.chairperson-container .chairperson-lt-rt .chairperson-lt .cperson-post p {
  font-size: 20px;
  color: var(--paragraph-color);
}
.chairperson-container .chairperson-lt-rt .chairperson-rt {
  width: 50%;
  padding-top: 20px;
}
.chairperson-container .chairperson-lt-rt .chairperson-rt .cperson-circle {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chairperson-container .chairperson-lt-rt .chairperson-rt .cperson-circle img {
  width: 400px;
}
.chairperson-container .chairperson-lt-rt .chairperson-rt .cperson-circle::after {
  content: "";
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.main-program-container {
  margin-bottom: 100px;
}
.main-program-container .program-content .about-main-title {
  margin-bottom: 60px;
}
.main-program-container .program-content .about-main-title h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.main-program-container .program-content .about-main-title h1 .highlight {
  color: var(--white-color);
}
.main-program-container .program-content .program-content-hist {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
}
.main-program-container .program-content .program-content-hist .program-r1-hist {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1); /* x=0, y=0, blur=25px, spread=0, color=#0000001A */
}
.main-program-container .program-content .program-content-hist .program-r1-hist .r1-img img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-program-container .program-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper {
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}
.main-program-container .program-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-title-hist {
  margin-top: 20px;
  margin-bottom: 10px;
}
.main-program-container .program-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-title-hist h2 {
  font-size: 18px;
  font-weight: 600;
}
.main-program-container .program-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-txt-hist {
  margin-bottom: 20px;
}
.main-program-container .program-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-txt-hist p {
  font-size: 14px;
  color: var(--paragraph-color);
  display: -webkit-box;
  --webkit-line-clamp: 2;
  --webkit-box-orient: vertical;
  overflow: hidden; /* Hides extra content */
}
.main-program-container .program-content .program-content-hist .program-r1-hist .readmore-none-wrapper {
  position: relative;
}
.main-program-container .program-content .program-content-hist .program-r1-hist .readmore-none-wrapper .readmore-none-hist {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  margin: 20px;
}
.main-program-container .program-content .program-content-hist .program-r1-hist .readmore-none-wrapper .readmore-none-hist p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}
.main-program-container .program-content .bg-btn-centeralign {
  display: flex;
  justify-content: center;
}
.main-program-container .program-content .bg-btn-centeralign .bg-btn {
  background-color: var(--primary-color);
  padding: 15px 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 48px;
  justify-content: center;
  cursor: pointer;
}
.main-program-container .program-content .bg-btn-centeralign .bg-btn p {
  color: var(--white-color);
}
.main-program-container .program-content .bg-btn-centeralign .bg-btn .fa-solid {
  color: var(--white-color);
}

.event-container-main {
  margin-bottom: 100px;
}
.event-container-main .event-lt-rt {
  display: flex;
  gap: 120px;
}
.event-container-main .event-lt-rt .event-lt {
  width: 50%;
}
.event-container-main .event-lt-rt .event-lt .about-main-title h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-color);
}
.event-container-main .event-lt-rt .event-lt .about-main-txt {
  margin: 20px 0 40px 0;
}
.event-container-main .event-lt-rt .event-lt .bg-btn {
  background-color: var(--primary-color);
  padding: 15px 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 48px;
  cursor: pointer;
}
.event-container-main .event-lt-rt .event-lt .bg-btn p {
  color: var(--white-color);
}
.event-container-main .event-lt-rt .event-lt .bg-btn .fa-solid {
  color: var(--white-color);
}
.event-container-main .event-lt-rt .event-rt {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content {
  display: flex;
  align-items: center;
  position: relative;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-img {
  width: 40%;
  height: 100%;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-img img {
  width: 100%;
  height: 170px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper {
  background-color: var(--secondary-color);
  width: 60%;
  padding: 25px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .time-locate {
  display: flex;
  gap: 14px;
  align-items: center;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .time-locate .time {
  display: flex;
  gap: 5px;
  align-items: center;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .time-locate .time p {
  font-size: 14px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .time-locate .time .fa-regular {
  color: var(--primary-color);
  font-size: 14px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .time-locate .locate {
  display: flex;
  gap: 5px;
  align-items: center;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .time-locate .locate p {
  font-size: 14px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .time-locate .locate .fa-solid {
  color: var(--primary-color);
  font-size: 14px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .co-txt {
  margin-block: 20px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .co-txt h3 {
  font-size: 18px;
  font-weight: 600;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .readmore-none-hist {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-txt-wrapper .readmore-none-hist p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-popup {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--primary-color);
  padding: 10px 20px;
}
.event-container-main .event-lt-rt .event-rt .event-rt-content .event-rt-popup .popup-txt p {
  font-size: 14px;
  color: var(--white-color);
}

.news-container {
  margin-bottom: 100px;
}
.news-container .news-content .about-main-title h1 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 50px;
  text-align: center;
}
.news-container .news-content .about-main-title h1 .highlight {
  color: var(--white-color);
}
.news-container .news-content .program-content-hist {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
}
.news-container .news-content .program-content-hist .program-r1-hist {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1); /* x=0, y=0, blur=25px, spread=0, color=#0000001A */
}
.news-container .news-content .program-content-hist .program-r1-hist .r1-img {
  position: relative;
  border-bottom: 4px solid var(--primary-color);
}
.news-container .news-content .program-content-hist .program-r1-hist .r1-img .news_date {
  position: absolute;
  bottom: 0;
  left: 0;
}
.news-container .news-content .program-content-hist .program-r1-hist .r1-img .news_date p {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  border-start-end-radius: 20px;
}
.news-container .news-content .program-content-hist .program-r1-hist .r1-img img {
  width: 100%;
  height: 250px;
}
.news-container .news-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper {
  margin: 20px;
}
.news-container .news-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-title-hist {
  margin-top: 20px;
  margin-bottom: 10px;
}
.news-container .news-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-title-hist h2 {
  font-size: 18px;
  font-weight: 600;
}
.news-container .news-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-txt-hist {
  margin-bottom: 20px;
}
.news-container .news-content .program-content-hist .program-r1-hist .program-r1-txt-wrapper .program-r1-txt-hist p {
  font-size: 14px;
  color: var(--paragraph-color);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hides extra content */
}
.news-container .news-content .program-content-hist .program-r1-hist .readmore-none-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.news-container .news-content .program-content-hist .program-r1-hist .readmore-none-wrapper .txt-icon .readmore-none-hist {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.news-container .news-content .program-content-hist .program-r1-hist .readmore-none-wrapper .txt-icon .readmore-none-hist p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}
.news-container .news-content .program-content-hist .program-r1-hist .readmore-none-wrapper .sharebtn {
  width: 20px;
  height: 20px;
  background-image: url("../icon/shareicon.svg");
}
.news-container .news-content .program-content-hist .program-r1-hist .readmore-none-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5px; /* Thin border */
  background-color: #cccccc; /* Adjust the color as needed */
}
.news-container .news-content .bg-btn-centeralign {
  display: flex;
  justify-content: center;
}
.news-container .news-content .bg-btn-centeralign .bg-btn {
  background-color: var(--primary-color);
  padding: 15px 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 48px;
  justify-content: center;
  cursor: pointer;
}
.news-container .news-content .bg-btn-centeralign .bg-btn p {
  color: var(--white-color);
}
.news-container .news-content .bg-btn-centeralign .bg-btn .fa-solid {
  color: var(--white-color);
}

.election-form-container .form-container .form-bg-img-content {
  position: relative;
}
.election-form-container .form-container .form-bg-img-content img {
  height: 210px;
  width: 100%;
}
.election-form-container .form-container .form-bg-img-content .form-bg-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 90px;
}
.election-form-container .form-container .form-bg-img-content .form-bg-content .voting-svg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 70%;
}
.election-form-container .form-container .form-bg-img-content .form-bg-content .voting-svg-header .voting-svg img {
  height: 100px;
  width: 100px;
}
.election-form-container .form-container .form-bg-img-content .form-bg-content .voting-svg-header .voting-header h2 {
  font-size: 36px;
  color: var(--white-color);
  font-weight: 700;
}
.election-form-container .form-container .form-bg-img-content .form-bg-content .regis-btn {
  width: 250px;
  background-color: var(--white-color);
  padding: 15px 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 48px;
  cursor: pointer;
  justify-content: center;
}
.election-form-container .form-container .form-bg-img-content .form-bg-content .regis-btn p {
  color: var(--primary-color);
}
.election-form-container .form-container .form-bg-img-content .form-bg-content .regis-btn .fa-solid {
  color: var(--primary-color);
}

.footer-container {
  position: relative;
}
.footer-container .footer-img-content {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.footer-container .footer-img-content .lt-rt-img-f {
  opacity: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-container .footer-img-content .lt-rt-img-f .lt-img-f img {
  height: 415px;
  width: 355px;
}
.footer-container .footer-img-content .lt-rt-img-f .rt-img-f img {
  height: 415px;
  width: 355px;
}
.footer-container .footer-content {
  position: absolute;
  top: 0;
  width: 100%;
}
.footer-container .footer-content .footer-content-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block: 55px;
}
.footer-container .footer-content .footer-content-detail .footer-c1 {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 15px 0px rgba(55, 56, 127, 0.1);
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-title {
  padding-bottom: 60px;
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-title h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 10px;
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-title .line-container {
  height: 1.5px;
  width: 60px;
  background-color: var(--primary-color);
  border-radius: 7px;
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-data .footer-logo img {
  height: 55px;
  width: auto;
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-data .intouch-txt {
  margin-block: 30px;
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-data .intouch-txt h4 {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-color);
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-data .footer-icon-txt {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 15px;
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-data .footer-icon-txt .fa-solid {
  color: var(--primary-color);
  font-size: 14px;
}
.footer-container .footer-content .footer-content-detail .footer-c1 .footer-data .footer-icon-txt p {
  font-size: 14px;
}
.footer-container .footer-content .footer-content-detail .footer-c2 {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 15px 0px rgba(55, 56, 127, 0.1);
}
.footer-container .footer-content .footer-content-detail .footer-c2 .footer-title {
  padding-bottom: 60px;
}
.footer-container .footer-content .footer-content-detail .footer-c2 .footer-title h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 10px;
}
.footer-container .footer-content .footer-content-detail .footer-c2 .footer-title .line-container {
  height: 1.5px;
  width: 60px;
  background-color: var(--primary-color);
  border-radius: 7px;
}
.footer-container .footer-content .footer-content-detail .footer-c2 .footer-data .footer-icon-txt {
  display: flex;
  gap: 5px 15px;
  align-items: center;
  padding-bottom: 30px;
}
.footer-container .footer-content .footer-content-detail .footer-c2 .footer-data .footer-icon-txt .fa-brands {
  color: var(--primary-color);
  font-size: 14px;
}
.footer-container .footer-content .footer-content-detail .footer-c2 .footer-data .footer-icon-txt p {
  font-size: 14px;
}
.footer-container .footer-content .footer-content-detail .footer-c3 {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 15px 0px rgba(55, 56, 127, 0.1);
}
.footer-container .footer-content .footer-content-detail .footer-c3 .footer-title {
  padding-bottom: 60px;
}
.footer-container .footer-content .footer-content-detail .footer-c3 .footer-title h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 10px;
}
.footer-container .footer-content .footer-content-detail .footer-c3 .footer-title .line-container {
  height: 1.5px;
  width: 60px;
  background-color: var(--primary-color);
  border-radius: 7px;
}
.footer-container .footer-content .footer-content-detail .footer-c3 .footer-data ul li {
  padding-bottom: 30px;
}

.footer-copyright {
  background-color: var(--white-color);
}
.footer-copyright .copyright-content {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright .copyright-content p {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.footer-copyright .copyright-content p .c {
  color: var(--primary-color);
}
.footer-copyright .copyright-content .company p {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
.footer-copyright .copyright-content .company p .hli-1 {
  color: rgb(6, 106, 200);
}
.footer-copyright .copyright-content .company p .hli-2 {
  color: rgb(169, 2, 98) !important;
}/*# sourceMappingURL=main.css.map */