@import "_variable.scss";
@import "_mediaquery.scss";
@import "_mixin.scss";
@import "utitliy.scss";
@import "./navigation/navigation.scss";
@import "./navbar/navbar.scss";
@import "./footer/footer.scss";
@import "./pages/registration.scss";
@import "./pages/our-team.scss";
@import "./pages/historical-places.scss";
@import "./pages/introduction.scss";
@import "./pages/event_innerpage.scss";
@import "./pages/faq.scss";

// top_navbar
.topbar_navbar {
  position: relative;
  background: var(--primary-color);
}

// hero section
.bg-container {
  .bg-img {
    position: relative;
    .right_image {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 450px;
      z-index: -1;
      opacity: 6%;
    }
    .img-steaker {
      position: absolute;
      top: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
      }
      .bg-color {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(225, 239, 255, 0.5);
      }
      .png-img-i {
        position: absolute;
        top: 0;
        left: 0;
        height: 470px;
        width: 400px;
      }
      .png-img-ii {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 470px;
        width: 400px;
      }
    }

    .bg-lt-rt {
      position: relative;
      .left_image {
        position: absolute;
        top: 161px;
        height: 450px;
        left: 200px;
        opacity: 6%;
        z-index: -1;

        @include max(768px) {
          height: 200px;
        }
      }
      .bg-lt-rt-main {
        padding-block: 70px;
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: space-between;

        @include max(992px) {
          padding-block: 100px;
        }
        @include max(768px) {
          flex-direction: column;
          align-items: center;
          padding-block: 50px;
        }

        .bg-lt {
          width: 50%;

          @include max(768px) {
            width: 100%;
          }
          .bg-header {
            h1 {
              padding-bottom: 15px;
              font-size: 48px;
              font-weight: 700;
              line-height: 62px;

              @include max(992px) {
                font-size: 32px;
                line-height: 45px;
              }
              @include max(768px) {
                font-size: 24px;
                line-height: 30px;
              }
              .highlight {
                color: var(--primary-color);
              }
            }
          }
          .bg-txt {
            padding-bottom: 40px;

            @include max(992px) {
              padding-bottom: 30px;
            }
            p {
              @include textlimit(3);
            }
          }
          .bg-btn {
            background-color: var(--primary-color);
            padding: 15px 25px;
            display: flex;
            gap: 5px;
            align-items: center;
            border-radius: 48px;
            cursor: pointer;
            p {
              color: var(--white-color);
            }
            .fa-solid {
              color: var(--white-color);
            }
          }
        }
        .bg-rt {
          width: 50%;
          position: relative;

          @include max(768px) {
            width: 100%;
          }

          .bg-main-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: end;

            img {
              border-radius: 50%;
              width: 455px;
              object-fit: cover;
              height: 500px;

              @include max(992px) {
                width: 250px;
                height: 300px;
              }
              @include max(768px) {
                width: 100%;
                height: 200px;
                border-radius: 0;
              }
            }
            &::before {
              content: " ";
              position: absolute;
              width: 7px;
              height: 600px;
              background-color: var(--primary-color);
              z-index: -1;
              top: 50%;
              left: 60%;
              transform: translate(-50%, -50%) rotate(45deg);
              border-radius: 5px;

              @include max(992px) {
                height: 400px;
              }
              @include max(768px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// register section
.regis-wall-container {
  margin-block: 50px;

  @include max(992px) {
    margin-block: 80px;
  }
  @include max(768px) {
    margin-block: 40px;
  }

  .regis-wall-lt-rt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include max(768px) {
      flex-direction: column;
    }

    .regis-wall {
      width: 50%;
      position: relative;

      @include max(768px) {
        width: 100%;
      }

      .regis-wall-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(24, 92, 171, 0.8);
          z-index: 1;
        }
        img {
          width: 100%;
        }
      }

      .regis-wall-txt {
        display: flex;
        flex-direction: column;
        padding: 50px 140px;
        z-index: 2;

        @include max(992px) {
          padding: 30px 60px;
        }
        @include max(768px) {
          padding: 20px 30px;
        }

        .regis-header {
          h3 {
            font-size: 24px;
            color: var(--white-color);
            font-weight: 700;
          }
        }
        .regis-txt {
          margin: 20px 0 40px 0;
          p {
            color: #eaeaea;
            @include textlimit(3);
          }
        }
      }
    }
  }
}

// About section
.about-main {
  margin-block: 50px;
  @include max(992px) {
    margin-block: 80px;
  }
  @include max(768px) {
    margin-block: 40px;
  }
  .about-main-lt-rt {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;

    @include max(992px) {
      gap: 30px;
    }

    @include max(768px) {
      flex-direction: column-reverse;
    }

    .about-main-lt {
      width: 50%;

      .ellipse-img {
        position: relative;
        width: 572px;
        height: 575px;

        @include max(992px) {
          width: 275px;
          height: 275px;
        }

        .border-ellipse {
          img {
            position: absolute;
            top: -10px;
            left: -23px;
            height: 584px;

            @include max(992px) {
              height: 284px;
              top: -7px;
              left: -10px;
            }
          }
        }

        .main-img-abt {
          height: 572px;
          width: 550px;
          border-radius: 50%;
          background-color: var(--secondary-color);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-top-right-radius: 245px;
          border-top-left-radius: 520px;
          border-bottom-left-radius: 310px;
          border-bottom-right-radius: 500px;
          overflow-y: hidden; /* Ensures the img does not overflow */
          display: flex;
          align-items: center;
          justify-content: center;

          @include max(992px) {
            height: 270px;
            width: 225px;
          }
        }

        .main-img-abt img {
          width: 450px;
          height: 600px;
          filter: drop-shadow(0px 0px 30px rgba(55, 56, 127, 0.25));

          @include max(992px) {
            width: 225px;
            height: 300px;
          }
        }
      }
    }
    .about-main-rt {
      .about-main-title {
        h1 {
          font-size: 48px;
          font-weight: 700;

          @include max(992px) {
            font-size: 32px;
          }
          @include max(768px) {
            font-size: 24px;
          }
          .highlight {
            color: var(--primary-color);
          }
        }
      }
      .about-main-txt {
        margin: 20px 0 40px 0;
        p {
          @include textlimit(6);
        }
      }
    }
  }
}

//  chairperson section
.chairperson-container {
  background: var(--secondary-color);
  margin-block: 50px;

  @include max(992px) {
    margin-block: 80px;
  }
  @include max(768px) {
    margin-block: 40px;
  }
  .chairperson-lt-rt {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: end;

    @include max(768px) {
      flex-direction: column;
      gap: 20px;
    }
    .chairperson-lt {
      padding: 60px 0;
      width: 50%;

      @include max(768px) {
        width: 100%;
      }

      .about-main-title {
        h1 {
          font-size: 48px;
          font-weight: 700;

          @include max(992px) {
            font-size: 32px;
          }
          @include max(768px) {
            font-size: 24px;
          }
        }
      }
      .about-main-txt {
        margin: 20px 0 40px 0;
        p {
          @include textlimit(6);
        }
      }
      .cperson-name {
        h2 {
          color: var(--primary-color);
          font-size: 24px;
          font-weight: 600;
          padding-bottom: 5px;
        }
      }
      .cperson-post {
        p {
          font-size: 20px;
          color: var(--paragraph-color);
        }
      }
    }
    .chairperson-rt {
      width: 50%;
      padding-top: 20px;

      @include max(768px) {
        width: 100%;
      }
      .cperson-circle {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 400px;
          @include max(768px) {
            width: 200px;
          }
        }
      }
      .cperson-circle::after {
        content: "";
        height: 350px;
        width: 350px;
        border-radius: 50%;
        background-color: var(--primary-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;

        @include max(768px) {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

// program section
.main-program-container {
  margin-block: 50px;

  @include max(992px) {
    margin-block: 80px;
  }
  @include max(768px) {
    margin-block: 40px;
  }
  .program-content {
    .about-main-title {
      margin-bottom: 60px;

      @include max(992px) {
        margin-bottom: 30px;
      }
      h1 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;

        @include max(992px) {
          font-size: 32px;
        }
        @include max(768px) {
          font-size: 24px;
        }

        .highlight {
          color: var(--white-color);
        }
      }
    }

    .program-content-hist {
      display: grid;
      gap: 30px 20px;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 60px;
      @include max(768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .program-r1-hist {
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);

        .r1-img {
          img {
            height: 250px;
            width: 100%;
            object-fit: cover;

            @include max(992px) {
              height: 150px;
            }
          }
        }

        .program-r1-txt-wrapper {
          padding: 25px;

          @include max(992px) {
            padding: 15px;
          }

          .program-r1-title-hist {
            margin-bottom: 10px;

            h2 {
              font-size: 18px;
              font-weight: 600;
              @include textlimit(2);

              @include max(992px) {
                font-size: 16px;
              }
            }
          }

          .program-r1-txt-hist {
            margin-bottom: 10px;
            p {
              font-size: 14px;
              color: var(--paragraph-color);
              @include textlimit(2);
            }
          }
        }

        .readmore-none-wrapper {
          position: relative;
          padding: 20px 25px;
          border-top: 0.5px solid var(--line-color);

          @include max(992px) {
            padding: 10px 15px;
          }
          .readmore-none-hist {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;
            margin: 20px;
            // border-top: 1px solid #eaeaea

            p {
              font-size: 16px;
              font-weight: 500;
              color: var(--primary-color);
            }
          }
        }
      }
    }

    .bg-btn-centeralign {
      display: flex;
      justify-content: center;

      .bg-btn {
        background-color: var(--primary-color);
        padding: 15px 25px;
        display: flex;
        gap: 5px;
        align-items: center;
        border-radius: 48px;
        justify-content: center;
        cursor: pointer;

        p {
          color: var(--white-color);
        }

        .fa-solid {
          color: var(--white-color);
        }
      }
    }
  }
}

// event section
.event-container-main {
  margin-block: 50px;

  @include max(992px) {
    margin-block: 80px;
  }
  @include max(768px) {
    margin-block: 40px;
  }
  .event-lt-rt {
    display: flex;
    gap: 120px;

    @include max(992px) {
      flex-direction: column;
      gap: 50px;
    }

    .event-lt {
      width: 50%;
      @include max(992px) {
        width: 100%;
      }
      .about-main-title {
        h1 {
          font-size: 48px;
          font-weight: 700;
          color: var(--primary-color);

          @include max(992px) {
            font-size: 32px;
          }
          @include max(768px) {
            font-size: 24px;
          }
        }
      }
      .about-main-txt {
        margin: 20px 0 40px 0;
        p {
          @include textlimit(6);
        }
      }
      .bg-btn {
        background-color: var(--primary-color);
        padding: 15px 25px;
        display: flex;
        gap: 5px;
        align-items: center;
        border-radius: 48px;
        cursor: pointer;
        p {
          color: var(--white-color);
        }
        .fa-solid {
          color: var(--white-color);
        }
      }
    }
    .event-rt {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include max(992px) {
        width: 100%;
      }
      .event-rt-content {
        display: flex;
        height: 170px;
        align-items: stretch;
        position: relative;

        @include max(768px) {
          height: 150px;
        }

        .event-rt-img {
          width: 40%;
          flex: 1;
          img {
            width: 100%;
          }
        }
        .event-rt-txt-wrapper {
          flex: 2;
          background-color: var(--secondary-color);
          width: 60%;
          padding: 25px;

          @include max(768px) {
            padding: 10px;
          }
          .time-locate {
            display: flex;
            gap: 14px;
            align-items: center;
            .time {
              display: flex;
              gap: 5px;
              align-items: center;
              p {
                font-size: 14px;

                @include max(768px) {
                  font-size: 12px;
                }
              }
              .fa-regular {
                color: var(--primary-color);
                font-size: 14px;
                @include max(768px) {
                  font-size: 12px;
                }
              }
            }
            .locate {
              display: flex;
              gap: 5px;
              align-items: center;
              p {
                font-size: 14px;
                @include max(768px) {
                  font-size: 12px;
                }
              }
              .fa-solid {
                color: var(--primary-color);
                font-size: 14px;
                @include max(768px) {
                  font-size: 12px;
                }
              }
            }
          }
          .co-txt {
            margin-block: 20px;
            h3 {
              font-size: 18px;
              font-weight: 600;
              @include textlimit(2);

              @include max(768px) {
                font-size: 16px;
              }
            }
          }

          .readmore-none-hist {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;

            p {
              font-size: 16px;
              font-weight: 500;
              color: var(--primary-color);
              @include textlimit(2);
            }
          }
        }
        .event-rt-popup {
          position: absolute;
          bottom: 0;
          right: 0;
          background: var(--primary-color);
          padding: 10px 20px;

          @include max(768px) {
            padding: 5px 10px;
          }
          .popup-txt {
            p {
              font-size: 14px;
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
}

//  news section
.news-container {
  margin-block: 50px;
  @include max(992px) {
    margin-block: 80px;
  }
  @include max(768px) {
    margin-block: 40px;
  }
  .news-content {
    .about-main-title {
      h1 {
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 50px;
        text-align: center;

        @include max(992px) {
          font-size: 32px;
        }
        @include max(768px) {
          font-size: 24px;
        }

        .highlight {
          color: var(--white-color);
        }
      }
    }
    .program-content-hist {
      display: grid;
      gap: 30px 20px;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 60px;

      @include max(768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .program-r1-hist {
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1); /* x=0, y=0, blur=25px, spread=0, color=#0000001A */
        .r1-img {
          position: relative;
          border-bottom: 4px solid var(--primary-color);
          .news_date {
            position: absolute;
            bottom: 0;
            left: 0;
            p {
              padding: 10px 20px;
              background: var(--primary-color);
              color: var(--white-color);
              font-size: 14px;
              font-weight: 500;
              border-start-end-radius: 20px;

              @include max(992px) {
                padding: 5px 10px;
                font-size: 10px;
              }
            }
          }
          img {
            width: 100%;
            height: 250px;

            @include max(992px) {
              height: 150px;
            }
          }
        }
        .program-r1-txt-wrapper {
          margin: 20px;
          .program-r1-title-hist {
            margin-top: 20px;
            margin-bottom: 10px;
            h2 {
              font-size: 18px;
              font-weight: 600;

              @include max(992px) {
                font-size: 16px;
              }
            }
          }
          .program-r1-txt-hist {
            margin-bottom: 20px;
            p {
              font-size: 14px;
              color: var(--paragraph-color);
              @include textlimit(2);
            }
          }
        }
        .readmore-none-wrapper {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;

          @include max(992px) {
            padding: 10px 20px;
          }
          .txt-icon {
            .readmore-none-hist {
              display: flex;
              gap: 5px;
              align-items: center;
              cursor: pointer;
              // border-top: 1px solid #eaeaea

              p {
                font-size: 16px;
                font-weight: 500;
                color: var(--primary-color);
              }
            }
          }

          .sharebtn {
            width: 20px;
            height: 20px;
            background-image: url("../icon/shareicon.svg");
          }
        }
        .readmore-none-wrapper::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0.5px; /* Thin border */
          background-color: var(--line-color); /* Adjust the color as needed */
        }
      }
    }

    .bg-btn-centeralign {
      display: flex;
      justify-content: center;
      .bg-btn {
        background-color: var(--primary-color);
        padding: 15px 25px;
        display: flex;
        gap: 5px;
        align-items: center;
        border-radius: 48px;
        justify-content: center;
        cursor: pointer;
        p {
          color: var(--white-color);
        }
        .fa-solid {
          color: var(--white-color);
        }
      }
    }
  }
}

// election section
.election-form-container {
  .form-container {
    .form-bg-img-content {
      position: relative;
      img {
        height: 210px;
        width: 100%;
      }
      .form-bg-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 90px;

        @include max(992px) {
          padding-inline: 45px;
        }
        @include max(768px) {
          flex-direction: column;
          padding-inline: 45px;
          gap: 20px;
        }

        .voting-svg-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 30px;
          width: 70%;

          @include max(992px) {
            width: 60%;
          }
          @include max(768px) {
            width: 100%;
          }

          .voting-svg {
            img {
              height: 100px;
              width: 100px;

              @include max(992px) {
                height: 80px;
                width: 80px;
              }
              @include max(768px) {
                height: 45px;
                width: 45px;
              }
            }
          }

          .voting-header {
            h2 {
              font-size: 36px;
              color: var(--white-color);
              font-weight: 700;

              @include max(992px) {
                font-size: 24px;
              }
              @include max(768px) {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
