.our_team {
  margin-block: 50px;

.team_wrapper{
  display: flex;
  gap: 20px;

  .side_tab{
     width: 30%;
     padding: 25px 20px;
     background: var(--secondary-color);
     height: fit-content;

     .tab_bar{
      padding: 15px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
  
      .icons{
        background-color: var(--primary-color);
        mask-image: url("../icon/arrow-circle.svg");
        width: 20px;
        height: 20px;
        mask-repeat: no-repeat;
        mask-size: contain;
      }

      .date_timeline{
        p{
          font-size: 16px;
          font-weight: 600;
          color: var(--paragraph-color);
        }
      }

      &.active{
        background-color: var(--primary-color);

        .icons {
          background-color: var(--white-color);
        }
        .date_timeline p{
          color: var(--white-color);
        }
      }
    
     }
  }

  .team_box_wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include max(992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include max(768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .box_wrapper {
   
      .box_box {
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        height: 370px;
        position: relative;

        &:hover .social-sites {
          .bg-color:nth-child(1) {
            z-index: 9 !important;
            transform: translateY(382%) !important;
          }
          .bg-color:nth-child(2) {
            z-index: 9 !important;
            transform: translateY(256%) !important;
          }
          .bg-color:nth-child(3) {
            z-index: 9 !important;
            transform: translateY(130%) !important;
          }
        }

        .team_detail {
          height: 220px;
          display: block;
          background: var(--secondary-color);
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          padding: 30px 40px;
          transition: all 0.3s ease-in-out;

          h4 {
            font-size: 24px;
            font-weight: 600;
          }
          p {
            color: var(--paragraph-color);
            font-size: 20px;
            font-weight: 400;
          }
        }

        .img_wrapper{
          margin-inline: 10px;
          position: absolute;
          top: 100px;

          .image {
            height: 260px;
            position: relative;
  
            img {
              width: 100%;
            }
  
            .social_links {
              position: absolute;
              top:0;
              right: 30px;
  
              .links {
                position: relative;
  
                .share {
                  cursor: pointer;
                  background: var(--primary-color) !important;
                  padding: 10px;
  
                  .share_icon {
                    width: 20px;
                    height: 20px;
                    mask-size: contain;
                    background: var(--white-color);
                    mask-image: url("../icon/shareicon.svg");
                  }
  
                  .social-sites {
                    flex-direction: column;
                    display: flex;
                    align-items: center;
  
                    .bg-color {
                      background: var(--primary-color);
                      padding: 10px;
                      transition: all 0.3s ease-in-out;
  
                      &:nth-child(1) {
                        position: absolute;
                        top: 0;
                        display: flex;
                        transform: translateY(0);
                        transition: all 0.3s ease-in-out;
                        z-index: -1;
                        .site_icon {
                          width: 20px;
                          height: 20px;
                          mask-size: contain;
                          background: var(--white-color);
                          mask-image: url("../icon/facebookicon.svg");
                        }
                      }
  
                      &:nth-child(2) {
                        position: absolute;
                        top: 0;
                        display: flex;
                        transform: translateY(0);
                        transition: all 0.3s ease-in-out;
                        z-index: -1;
  
                        .site_icon {
                          width: 20px;
                          height: 20px;
                          mask-size: contain;
                          background: var(--white-color);
                          mask-image: url("../icon/instaicon.svg");
                        }
                      }
  
                      &:nth-child(3) {
                        position: absolute;
                        top: 0;
                        display: flex;
                        transform: translateY(0);
                        transition: all 0.3s ease-in-out;
                        z-index: -1;
  
                        .site_icon {
                          width: 20px;
                          height: 20px;
                          background: var(--white-color);
                          mask-image: url("../icon/twitter.svg");
                          mask-size: contain;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &:hover .team_detail {
          background: var(--primary-color) !important;
        }
        &:hover {
          .team_detail{
            h4{
              color: var(--white-color);
            }
            p{
              color: var(--white-color);
            }
          }
        }
      }

      .box_box:hover .share {
        background: var(--black-color) !important;
      }
    }
  }
}
}
