.our_team {
  margin-block: 50px;

  .team_box_wrapper {
    .box_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @include max(992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include max(768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .box_box {
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &:hover .social-sites {
          .bg-color:nth-child(1) {
            z-index: 9 !important;
            transform: translateY(-382%) !important;
          }
          .bg-color:nth-child(2) {
            z-index: 9 !important;
            transform: translateY(-256%) !important;
          }
          .bg-color:nth-child(3) {
            z-index: 9 !important;
            transform: translateY(-130%) !important;
          }
        }

        .image {
          height: 275px;
          position: relative;

          img {
            border: 1px solid#737373;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: none !important;
            width: 100%;
          }
          .social_links {
            position: absolute;
            bottom: 25px;
            right: 30px;
            .links {
              position: relative;
              .share {
                cursor: pointer;
                margin-top: 20px;
                background: var(--primary-color) !important;
                padding: 10px;
                border-radius: 5px;

                .share_icon {
                  width: 20px;
                  height: 20px;
                  mask-size: contain;
                  background: var(--white-color);
                  mask-image: url("../icon/shareicon.svg");
                }
                .social-sites {
                  flex-direction: column;
                  display: flex;
                  align-items: center;

                  .bg-color {
                    background: var(--primary-color);
                    padding: 10px;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;

                    &:nth-child(1) {
                      position: absolute;
                      top: 0;
                      display: flex;
                      transform: translateY(0);
                      transition: all 0.3s ease-in-out;
                      z-index: -1;
                      .site_icon {
                        width: 20px;
                        height: 20px;
                        mask-size: contain;
                        background: var(--white-color);
                        mask-image: url("../icon/facebookicon.svg");
                      }
                    }
                    &:nth-child(2) {
                      position: absolute;
                      top: 0;
                      display: flex;
                      transform: translateY(0);
                      transition: all 0.3s ease-in-out;
                      z-index: -1;
                      .site_icon {
                        width: 20px;
                        height: 20px;
                        mask-size: contain;
                        background: var(--white-color);
                        mask-image: url("../icon/instaicon.svg");
                      }
                    }
                    &:nth-child(3) {
                      position: absolute;
                      top: 0;
                      display: flex;
                      transform: translateY(0);
                      transition: all 0.3s ease-in-out;
                      z-index: -1;
                      .site_icon {
                        width: 20px;
                        height: 20px;
                        background: var(--white-color);
                        mask-image: url("../icon/twitter.svg");
                        mask-size: contain;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .team_detail {
          display: block;
          background: var(--black-color);
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          padding: 30px 40px;
          transition: all 0.3s ease-in-out;

          h4 {
            color: var(--white-color);
            font-size: 24px;
            font-weight: 600;
          }
          p {
            color: var(--white-color);
            font-size: 20px;
            font-weight: 400;
          }
        }
        &:hover .team_detail {
          background: var(--primary-color) !important;
        }
      }
      .box_box:hover .share {
        background: var(--black-color) !important;
      }
    }
  }
}
