.registration_section {
  padding-block: 50px;
  /* Styles for Progress Bar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    width: 500px;
    margin: 50px auto;

    @include max(768px) {
      width: 250px;
    }
  }
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
    z-index: -1;
  }

  .progress-step {
    width: 18px;
    height: 18px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% - 4rem);
    font-size: 0.85rem;
    color: #666;
  }
  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  .form {
    margin-inline: 90px;

    @include max(968px) {
      margin: 0;
    }
  }
  /* Styles for input group. */
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
    .title {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      gap: 5px;

      h1 {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  .form-step-active {
    display: block;

    .box_shadow {
      padding: 30px;
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(204, 204, 204, 1);
      border-radius: 8px;
    }
  }

  /* Styles for Next and Back Button. */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: 0.3s;
  }

  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="date"],
textarea,
select {
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
}
.date {
  margin-top: 90px;
}
label {
  font-size: 16px;
  font-weight: 500;
}

.dropzone {
  border: none !important;
}
