.primary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  background: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
  border-radius: 45px;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;

  @include max(992px) {
    padding: 10px 20px;
  }
  @include max(768px) {
    padding: 10px 15px;
  }
  cursor: pointer;
  p {
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;

    @include max(768px) {
      font-size: 14px;
    }
  }
  .arrow-btn {
    background-image: url("../icon/btn-arrow-white.svg");
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background: var(--white-color);
    border: 1px solid var(--primary-color) !important;
    p {
      color: var(--primary-color);
    }
    .arrow-btn {
      background-image: url("../icon/btn-arrow-blue.svg");
    }
  }
}
.secondary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  background: var(--white-color);
  border: 1px solid var(--white-color) !important;
  border-radius: 45px;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @include max(992px) {
    padding: 10px 20px;
  }
  @include max(768px) {
    padding: 10px 15px;
  }
  p {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    @include max(768px) {
      font-size: 14px;
    }
  }
  .arrow-btn {
    background-image: url("../icon/btn-arrow-blue.svg");
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background: var(--primary-color);
    border: 1px solid var(--white-color);
    p {
      color: var(--white-color);
    }
    .arrow-btn {
      background-image: url("../icon/btn-arrow-white.svg");
    }
  }
}

.primary-btn-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  border-radius: 45px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  p {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    @include max(768px) {
      font-size: 14px;
    }
  }
  .arrow-btn {
    background-image: url("../icon/btn-arrow-blue.svg");
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    p {
      color: var(--black-color);
    }
    .arrow-btn {
      background-image: url("../icon/btn-arrow-black.svg");
    }
  }
}
.secondary-btn-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  border-radius: 45px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  p {
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
    @include max(768px) {
      font-size: 14px;
    }
  }
  .arrow-btn {
    background-image: url("../icon/btn-arrow-black.svg");
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    p {
      color: var(--primary-color);
    }
    .arrow-btn {
      background-image: url("../icon/btn-arrow-blue.svg");
    }
  }
}

.border-transparent {
  border: 1px solid transparent !important;

  &:hover {
    border: 1px solid transparent !important;
  }
}

// head title
.head_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  .head_image {
    height: 30px;
  }
  .title {
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

// banner

.banner {
  position: relative;

  .image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .banner-wrapper {
      height: 100%;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background: #e1efff;
        width: 100%;
        opacity: 30%;
        height: 100%;
        top: 0;
        z-index: 99;
      }
      img {
        width: 100%;
      }
      .image_logo {
        height: 100px;
        position: absolute;
        top: 18px;
        left: 90px;
        opacity: 10%;

        @include max(992px) {
          height: 50px;
        }

        &:nth-child(2) {
          top: 50px;
          right: 90px;
          left: unset;
        }
      }
    }
  }
  .title {
    padding-block: 40px;

    @include max(992px) {
      padding-block: 70px;
    }
    @include max(768px) {
      padding-block: 40px;
    }
    p {
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      @include max(768px) {
        font-size: 24px;
      }
    }
  }
}

.paragraph-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
}

.highlight {
  color: var(--primary-color) !important;
}

.block_display {
  display: block !important;
  width: unset !important;
}
.justify_center {
  justify-content: center;
}

.grid_two {
  width: 100% !important;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);

  @include max(992px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// width{
.w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
}
