.primary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  background: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
  border-radius: 45px;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.primary-btn p {
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.primary-btn .arrow-btn {
  background-image: url("../icon/btn-arrow-white.svg");
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.primary-btn:hover {
  background: var(--white-color);
  border: 1px solid var(--primary-color) !important;
}
.primary-btn:hover p {
  color: var(--primary-color);
}
.primary-btn:hover .arrow-btn {
  background-image: url("../icon/btn-arrow-blue.svg");
}

.secondary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  background: var(--white-color);
  border: 1px solid var(--white-color) !important;
  border-radius: 45px;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.secondary-btn p {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.secondary-btn .arrow-btn {
  background-image: url("../icon/btn-arrow-blue.svg");
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.secondary-btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--white-color);
}
.secondary-btn:hover p {
  color: var(--white-color);
}
.secondary-btn:hover .arrow-btn {
  background-image: url("../icon/btn-arrow-white.svg");
}

.primary-btn-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  border-radius: 45px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.primary-btn-text p {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.primary-btn-text .arrow-btn {
  background-image: url("../icon/btn-arrow-blue.svg");
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.primary-btn-text:hover p {
  color: var(--black-color);
}
.primary-btn-text:hover .arrow-btn {
  background-image: url("../icon/btn-arrow-black.svg");
}

.secondary-btn-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  border-radius: 45px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.secondary-btn-text p {
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}
.secondary-btn-text .arrow-btn {
  background-image: url("../icon/btn-arrow-black.svg");
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
.secondary-btn-text:hover p {
  color: var(--primary-color);
}
.secondary-btn-text:hover .arrow-btn {
  background-image: url("../icon/btn-arrow-blue.svg");
}

.border-transparent {
  border: 1px solid transparent !important;
}
.border-transparent:hover {
  border: 1px solid transparent !important;
}

.head_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.head_title .head_image {
  height: 30px;
}
.head_title .title h3 {
  font-size: 16px;
  font-weight: 500;
}

.paragraph-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
}

.highlight {
  color: var(--primary-color) !important;
}

.justify_center {
  justify-content: center;
}/*# sourceMappingURL=utitliy.css.map */