.hamburger {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  @include max(992px) {
    display: flex;
  }
  .hamburger-menu {
    cursor: pointer;
    padding: 10px;
    display: none;

    @include max(992px) {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    .line {
      width: 20px;
      height: 2px;
      background: var(--white-color);
    }
  }
}
.main-nav-content {
  background: var(--white-color);
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

  @include max(992px) {
    display: none;
    justify-content: end;
    position: fixed;

    top: 134px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    right: 0;
    height: 100vh;
  }

  @include max(768px) {
    top: 49px;
  }
  .main-nav-container {
    @include max(992px) {
      align-items: flex-start;
      background: var(--white-color);
      width: 300px;
      padding-inline: 10px;
    }
    .main-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 25px;

      @include max(992px) {
        flex-direction: column;
        align-items: start;
        padding-block: 20px;
      }

      a {
        .logo-container {
          display: flex;
          gap: 12px;
          align-items: center;
          cursor: pointer;
          .logo {
            width: 48px;
            height: 47px;
          }
          .logo-txt {
            p {
              color: #000000;
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
      }

      .nav-items {
        width: 100%;
        .menu {
          display: flex;
          gap: 40px;
          margin: 0;
          cursor: pointer;

          @include max(992px) {
            flex-direction: column;
            gap: 20px;
          }
          @include max(768px) {
            gap: 0;
          }
          li {
            position: relative;
            padding-block: 15px;
            a {
              font-size: 16px;
              font-family: "Lato", sans-serif;
              font-weight: 600;
              color: #000000;
              position: relative;
              &::after {
                display: block;
                content: "";
                position: absolute;
                bottom: -5px;
                left: 1px;
                width: 100%;
                height: 1.5px;
                border-radius: 5px;
                color: var(--primary-color);
                background: var(--primary-color);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 250ms ease-in-out;
              }
              &:hover {
                color: var(--primary-color);
              }
              &:hover:after {
                transform: scaleX(0.7);
              }
              &.active {
                color: var(--primary-color);
              }

              &.active::after {
                color: var(--primary-color);
                transform: scaleX(0.7);
              }
            }
            .sub-menu {
              display: none;
              position: absolute;
              top: 54px;
              left: 0;
              z-index: 999;
              background: var(--primary-color);
              li {
                padding: 0 !important;
                a {
                  display: block;
                  padding: 10px 20px;
                  color: var(--white-color);
                  font-size: 16px;
                  font-weight: 500;
                  white-space: nowrap;
                  border-bottom: 1px solid var(--paragraph-color);

                  &::after {
                    display: none;
                  }
                }
              }
            }
            &:hover .sub-menu {
              display: block;
            }
          }
        }
      }
      .donar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background: var(--primary-color);
        padding: 15px 35px;
        white-space: nowrap;

        .donar-text {
          p {
            color: var(--white-color);
            font-weight: 700;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.open {
  display: flex !important;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
}

.fixed-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  background: var(--primary-color);
}
